* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    background-color: #eee;
    color: #4e4544;
    font: normal 16px sans-serif;
}

/* Page Layout */

.container{
    max-width: 900px;
    background-color: #fff;
    margin: 0 auto;
    padding: 0 60px;

}

/* Header */

header{
    color: #ef5350;
    padding: 20px 0;
    margin-bottom: 60px;

   
}

header nav {
    list-style: none;
    
   
}

header nav li {
    margin-right: 15px;
}

header button {
    background-color: #ef5350;
    border: none;
    padding: 8px 25px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
}

/* Main Section */

.main-and-sidebar-wrapper {
   
    
}

.main {
    text-align: center;
 
    
   
}

.main h2 {
    font-size: 32px;
    margin-bottom: 55px;
}

.main p {
    margin-bottom: 50px;
}

.main img {
    width: 100%;
}

/* Sidebar */

.sidebar {
    border: 1px solid #a2a2a2;
    padding: 20px;

  
}

/* Footer */

footer {
    color: #ef5350;
    text-align: center;
    padding: 20px 0;
    margin-top: 60px;
}

footer p {
    color: #777;
    font-size: 12px;
    padding: 10px;
}


@media (max-width: 600px) {
    .main-and-sidebar-wrapper {
        
    }

    .main {
      
    }
}